<app-header />

<main>
  <ul id="users">
    <!-- For Angular 17 and beyond -->
    <!-- @for (user of users; track user.id) {
      <li>
        <app-user [user]="user" (selectedUser)="onSelectUser($event)"/>
      </li>
    } -->
    <li *ngFor="let user of users">
      <app-user [user]="user" [selected]="user.id === selectedUserId" (selectedUser)="onSelectUser($event)"/>
    </li>
  </ul>

  <app-tasks *ngIf="selectedUser; else fallback" [userId]="selectedUser.id" [name]="selectedUser ? selectedUser.name : ''" />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template>

  <!-- @if (selectedUser) {
    <app-tasks [name]="selectedUser ? selectedUser.name : ''" />
  }
  @else {
    <h2> Select a user</h2>
  } -->
</main>
